@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';


// Updated code by Pankaj Kumar
.header{
    max-width: 100%;
    box-shadow: 5px 5px 20px gray;
    height:200px;
    display: flex;
  }
  
  // Commented code by Pankaj Kumar
  // .topnavrow div{
  //   display: inline-block;
  // }

  // Added code by Pankaj Kumar
  .parent-container{
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-left: 40px;
    color: white;

    .title-text {
      margin-right: 10px;
    }

    .cart-icon {
      display: flex;
      align-items: center;
    }
    .position-relative {
      position: relative;
    }
    .position-absolute {
      position: absolute;
      margin-left: 15px;
      margin-bottom: 5px;
    }
  }
  
  .brand{
    color: white;
    margin-left: 2%;
    padding: 0.8em;
    width: 10%;
  }
  
  .inp-container input{
    display: inline-block;
    width: 75%;
    height: $element-height;
  }
  .inp-container button{
    width: 10%;
    height: $element-height;
    border: none;
    background-color: #dadada;
  }
  
  .dropdown{
    width: 15%;
  }
  .select-btn{
    height: $element-height;
    border: none;
    background-color: #dadada;
    font-weight: 600;
  }
  
  .login-container {
  
    width:15%;
    color:white;
    text-align:right;
    margin: 1.7em  0.2em 0 0;
  }
  
  .login-container i,h5{
    display:inline-block;
  }
  
  .login-container a{
    text-decoration: none;
    color:white;
  }
  
  .user-icon{
   margin-right: 0.4em;
   padding: 0.2em;
   font-size:1.3em;
  
  }
  
  .cart-wishlist .list-icon{
  
    color:white;
    font-size:1.3em;
    list-style-type:none;
    display:inline-block;
    margin-right:0.5em;
  
  }
  
  .cart-wishlist
  {
    width:7%;
    margin-top:1.7em;
    margin-left:1em;
  }

  .list-icon{

  .cart-item-count{
    // Updated code by Pankaj Kumar
    border-radius:50%;
    background-color: gold;
    // position:absolute;
    height: 1em;
    width: 1em;
    left: 83%;
    top:1.8%;
    text-align: center;
    // line-height: 90%;
    p{
      // Updated code by Pankaj Kumar
        font-size:0.7em;
        font-weight:600;
        color:black;
    }


  }


  }
  